.Title {
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    margin: 12px auto;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
