.Button {
    border: none;
    color: black;
    outline: none;
    cursor: pointer;
    font: inherit;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    border-radius: 4px;
  
  
   
  }
  
  .Success {
    color: #5c9210;
  
  }
  
  .Danger {
    color: #944317;
  }
  .Button:disabled {
    color: #ccc;
    cursor: not-allowed;
  }
  